@import '../../assets/sass/variables.scss';

.rsvp {
    background: transparent url('../../assets/images/paper_@2X.png') repeat top left;
    padding: 100px 0 0;
    color: $blue;
    min-height: 100vh;
    text-align: center;

    h1 {
        letter-spacing: 10px;
    }
}