.rsvp {
    .wrapper {
        .rsvp-inner {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }
}


.ReactTable {
    font-size: 0.9em;
    background-color: #ffffff;
    width: 100%;
    color: #333333;
}