.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    overflow: auto;
    padding: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;

    &:after {
        vertical-align: middle;
        display: inline-block;
        height: 100%;
        content: '';
    }

    .modal-inner {
        position: relative;
        outline: 0;
        width: auto;
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        max-width: auto;
        cursor: default;
        border-radius: 4px;
        background-color: #ffffff;
        color: #333333;
        padding: 10px 20px;
        z-index: 3000;
        max-width: 600px;
        font-size: 0.9em;

        h3 {
            font-weight: 500;
            font-size: 1.3em;
            margin: 25px 0 15px;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
            color: #333333;
        }

        h4 {
            font-size: 1em;
            color: #333333;
            font-weight: 500;
            margin: 7px 0;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .close-modal {
        position: absolute;
        top: 15px;
        right: 15px;
        font-weight: 600;
        cursor: pointer;
    }
}