@import '../../assets/sass/variables.scss';

.login-form {
    input {
        padding: 10px;
        font-size: 1.2em;
        width: 100%;
        margin-bottom: 6px;
        font-weight: 500;

        &disabled {
            background-color: #cccccc;
            color: #ffffff;
            cursor: not-allowed;
            box-shadow: none !important;
            opacity: 0.5;
        }
    }

    .button {
        @media screen and (min-width: $screen-md) {
            margin-left: auto;
            margin-right: auto;
        }
    }
}