@import '../../../assets/sass/variables.scss';

.church {
    margin-bottom: 45px;

    .church-grid-container {
        display: grid;

        @media screen and (min-width: $screen-sm) {
            grid-template-columns: 45% 49%;
            grid-row-gap: 0;
            grid-column-gap: 6%;
        }

        .church-grid {
            @media screen and (min-width: $screen-sm) {
                grid-column-start: 1;
                grid-row-start: 1;
                text-align: left;
            }
        }

        .map-grid {
            @media screen and (min-width: $screen-sm) {
                grid-column-start: 2;
                grid-row-start: 1;
            }
        }
    }

    .map {
        background-color: #ffffff;
        padding: 10px;

        @media screen and (min-width: $screen-sm) {
            height: 100%;
        }
    }
}